
@import "compass";

// Import things!
// Underscored filed are ignored by compiler.

// @import "utility/variables";
// @import "utility/mixins";

// @import "normalize";
// @import "typography";



//-- Base styles

.wrapper {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 1rem;
}

// Make the leading sentence uppercase
.lead {

}