
@import "compass";

// Import Normalize

// Make a color and semantic link variable

//-- Base styles

.wrapper {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 1rem;

	// Nest a Media Query

}

// Go to scss-next/ !
