
// ---
// Base Site Styles
// ---

// Border box all the things:

* {
	 @include box-sizing(border-box);
}

// ---
// General Selectors
// ---

img {
	max-width: 100%;
}


// ---
// Header
// ---

// Stuff!



// ---
// Main Site Content
// ---

.wrapper {
	max-width: $screen-md;
	margin: $h1 auto;
	padding: 0 $base;
}



// ---
// Media
// ---

// Stuff!



// ---
// Footer
// ---

// Stuff!



// ---
// Misc Utilities
// ---


