

// ---
// Screen sizes
// ---

// "Start with the small screen first, then expand until it looks like shit. Time for a breakpoint!"
// -Stephen Hay

$screen-sm: 		30em;
$screen-md: 		48em;
$screen-lg: 		60em;



// ---
// Colors
// ---

$dark-blue: 		#334D5C;
$teal: 				#45B29D;
$yellow: 			#EFC94C;
$orange: 			#E27A3F;
$red: 				#DF4949;

$white: 			#fefefe;
$grey: 				#666;
$black: 			#1F232A;

// These are nice utility colors
$accent-light: 		$yellow;
$accent-med: 		$teal;
$accent-dark:		$dark-blue;

$text-light: 		$white;
$text-med: 			$grey;
$text-dark: 		$black;

// Then element-based names are nice too
$link-color: 		$accent-med;
$link-hover: 		darken($link-color, 20%);
$link-active: 		darken($link-color, 60%);




// ---
// Scale
// ---

$base:  			1rem;
$sml:  				$base*0.8;

$h1:  				$base*2.6;
$h2:  				$base*2.2;
$h3:  				$base*1.8;
$h4:  				$base*1.4;
$h5:  				$base*1.2;
$h6:  				$sml;



// ---
// Typography
// ---

$sans-serif: 		'Helvetica', sans-serif;
$serif:             'Georgia', serif;


// Semantic names

$line-height-base: 	1.5;

$heading-font: 		$sans-serif;
$body-font: 		$serif;



// ----
// Helpers
// ----

$accent-border: 1px dotted $accent-med;

